@font-face {
  font-family: 'Poppins_Bold';
  font-display: swap;
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg'),
  url('../fonts/Poppins-Bold.ttf') format('truetype'),
  url('../fonts/Poppins-Bold.woff') format('woff'),
  url('../fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins_Regular';
  font-display: swap;
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.woff2') format('woff2');
}