<div class="container">
    <div class="logo"></div>
    <h1 class="title">{{message}}</h1>
    <h2 class="text text__small">{{error.status}}</h2>
    <div class="container_error">
        <pre>{{error.stack}}</pre>
    </div>
</div>
