<div class="container">
    <div class="logo"></div>
    <h1 class="title">{{title}}</h1>
    <div class="container_text">
        <p class="text">Welcome to {{title}}!</p>
        <p class="text text__small">Exly is Express.js boilerplate with typescript (backend and frontend), handlebars, hot module reload, scss.</p>
    </div>
    <div class="container_text">
        <p class="text text__small">Created by <a class="link" href="https://webspaceteam.com">Webspaceteam</a> - custom software development company.</p>
    </div>
</div>