<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#if (prod)}}
      <link rel='stylesheet' href='/css/style.css' />
    {{/if}}
    
    <script src="/js/index.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
